main {
    height: 500px;
    display: flex;
    justify-content: space-between;
}
main div.container {
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 40px;
}
main button {
    background-color: #4d64ff;
    padding: 15px;
    border: none;
    color: white;
}